apiVersion: apps/v1
kind: Deployment
metadata:
  name: public-services-home
  namespace: personal
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: public-services-home
  template:
    metadata:
      labels:
        app: public-services-home
    spec:
      containers:
        - name: public-services-home
          image: docker.io/nginx:1.25.3
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
          volumeMounts:
            - name: media
              subPath: web/public-services/index.html
              mountPath: /usr/share/nginx/html/index.html
            - name: media
              subPath: web/public-services/home.png
              mountPath: /usr/share/nginx/html/home.png
            - name: media
              subPath: youtube
              mountPath: /usr/share/nginx/html/yt
          resources:
            requests:
              cpu: "10m"
            limits:
              memory: "256Mi"
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: nas-volume1-media
