# yaml-language-server: $schema=https://demo.frigate.video/api/config/schema.json
logger: {default: info}
database: {path: /media/frigate/frigate.db}
mqtt: {host: mosquitto}

model: {path: plus://86c44ae617e0623e9a86cbd5371fa617} # 2025/05/10
semantic_search: {enabled: true, model_size: "large", reindex: false}
detectors: {coral: {type: edgetpu, device: usb}}

snapshots: {enabled: true, retain: {default: 30, objects: {person: 30}}}
record: {enabled: true,
  retain: {days: 14},
  detections: {retain: {days: 30}},
  alerts: {retain: {days: 90, mode: active_objects}}
}
objects:
  track: &trackedobjects [person,
      car,bicycle,motorcycle,bus,airplane,
      cat,dog,bird,
      package,amazon,usps,ups,dhl,fedex,
      license_plate, # attribute label, these don't generate events
    ]
review: {detections: {labels: *trackedobjects}}

ffmpeg:
  hwaccel_args: preset-vaapi
  input_args: preset-rtsp-restream-low-latency
  output_args: {record: preset-record-generic-audio-copy}
go2rtc:
  streams:
    doorbell:
      - ffmpeg:http://doorbell.home.arpa/flv?port=1935&app=bcs&stream=channel0_main.bcs&user={FRIGATE_CAMERA_USER}&password={FRIGATE_CAMERA_PASSWORD}#video=copy#audio=copy
      - "rtsp://{FRIGATE_CAMERA_USER}:{FRIGATE_CAMERA_PASSWORD}@doorbell.home.arpa/Preview_01_sub" # two-way audio
    # These kinds of cameras do not support http-flv
    garage: ["rtsp://{FRIGATE_CAMERA_USER}:{FRIGATE_CAMERA_PASSWORD}@garage.home.arpa/Preview_01_main"]
    sidegarage: ["rtsp://{FRIGATE_CAMERA_USER}:{FRIGATE_CAMERA_PASSWORD}@sidegarage.home.arpa/Preview_01_main"]
    backdeck: ["rtsp://{FRIGATE_CAMERA_USER}:{FRIGATE_CAMERA_PASSWORD}@backdeck.home.arpa/Preview_01_main"]
    sunroom: ["rtsp://{FRIGATE_CAMERA_USER}:{FRIGATE_CAMERA_PASSWORD}@sunroom.home.arpa/Preview_01_main"]
birdseye: {enabled: true,
  quality: 8, width: 1440, height: 1080, layout: {scaling_factor: 1.0},
  # -- objects, motion, continuous
  mode: objects
}
camera_groups:
  "Birdseye":
    cameras: [birdseye]
    icon: LuBird
    order: 0
  "All Cameras":
    cameras: [doorbell, garage, sidegarage, backdeck, sunroom]
    icon: LuRadar
    order: 1
  "Deliveries":
    cameras: [doorbell, garage]
    icon: LuTruck
    order: 2
  "Just Doorbell":
    cameras: [doorbell]
    icon: LuBellRing
    order: 3
  "Backyard and Garage":
    cameras: [backdeck, garage, sidegarage, sunroom]
    icon: LuDog
    order: 4

cameras:
  garage:
    enabled: true
    detect: &floodlightdetect {width: 1152, height: 432, fps: 5} # 4608x1728
    ffmpeg: {inputs:
      [{path: rtsp://localhost:8554/garage, roles: &detectandrecord [detect, record]}]}
    mqtt: &mqttheight {height: 1728}
    ui: {order: 0}
    birdseye: {order: 0}
    review: {alerts: {required_zones: [on_property, mail]}}
    zones:
      on_property: &zonedefault
        inertia: 5
        loitering_time: 2
        objects: [person, package, cat, dog, car]
        coordinates: >-
          0,0.407,0.034,0.431,0.079,0.604,0.127,0.529,0.256,0.352,
          0.557,0.362,0.689,0.973,0.9,0.744,0.942,0.6,1,0.713,1,1,0,1
      mail:
        objects: [usps]
        coordinates: >-
          0.166,0.293,0.171,0.36,0.286,0.258,0.407,0.244,0.562,
          0.266,0.723,0.339,0.826,0.4,0.824,0.273,0.619,0.122,
          0.544,0.074,0.401,0.092,0.284,0.148
    motion: &garagemask
      mask:
        - >- # the sky
          0.002,0.42,0.039,0.431,0.08,0.59,0.127,0.532,0.243,0.252,0.364,
          0.133,0.524,0.106,0.645,0.301,0.826,0.391,1,0.702,1,0,0,0
        - >- # my car
          0.652,0.189,0.791,0.29,0.953,0.575,0.899,0.75,
          0.69,0.974,0.555,0.239
    objects:
      filters:
        car: *garagemask

  doorbell:
    enabled: true
    detect: &doorbelldetect {width: 1280, height: 960, fps: 5} # 2560x1920
    ffmpeg: {inputs:
      [{path: rtsp://localhost:8554/doorbell, roles: *detectandrecord}]}
    mqtt: {height: 1920}
    ui: {order: 1}
    birdseye: {order: 1}
    review: {alerts: {required_zones: [on_property, mail]}}
    zones:
      on_property:
        <<: *zonedefault
        objects: [person, package, cat, dog, car]
        coordinates: >-
          0.187,0.636,0.79,0.621,1,0.606,
          1,1,0,1,0,0.172,0.188,0.282
      sign:
        <<: *zonedefault
        objects: [person]
        coordinates: >-
          0.697,0.531,0.78,0.529,0.778,0.602,0.702,0.606
      house_across_the_street:
        <<: *zonedefault
        objects: [person]
        coordinates: >-
          0.616,0.49,0.618,0.533,0.54,0.529,0.409,0.54,0.408,0.501,0.506,0.494
      mail:
        objects: [usps]
        coordinates: >-
          0.208,0.498,0.213,0.617,1,0.587,1,0.476
    motion:
      mask:
        - &doorbellsky >-
          0.21,0.49,0.414,0.497,0.628,0.483,0.927,0.477,
          1,0.475,1,0,0.869,0,0.627,0.305,0.209,0.319
    objects:
      filters:
        car:
          mask:
            - *doorbellsky
            - &parkedcars >- # the cars that are parked at houses
              0.222,0.563,0.222,0.471,0.366,0.481,0.421,0.484,
              0.475,0.481,0.519,0.463,0.552,0.465,0.555,0.524,
              0.493,0.539,0.471,0.53,0.379,0.533,0.347,0.53,
              0.29,0.545,0.417,0.527
            - &occasionalcar >- # the car that sometimes parks across the street
              0.87,0.515,0.861,0.561,0.992,0.558,0.984,0.498

  sidegarage:
    enabled: true
    detect: *floodlightdetect
    ffmpeg: {inputs:
      [{path: rtsp://localhost:8554/sidegarage, roles: *detectandrecord}]}
    mqtt: *mqttheight
    ui: {order: 2}
    birdseye: {order: 2}
    review: {alerts: {required_zones: [on_property]}}
    zones:
      on_property:
        <<: *zonedefault
        objects: [person, cat, dog]
        coordinates: >-
          0,0.712,0,1,1,1,1,0.546,0.945,0.57,0.868,
          0.47,0.822,0.511,0.631,0.354,0.428,0.271,
          0.283,0.286,0.089,0.467,0.125,0.539
    objects:
      filters:
        person: &sidegaragemask
          mask:
            - >- # sky and neighbors
              0.597,0.264,0.725,0.948,0.876,0.744,0.913,0.586,
              1,0.73,1,0,0,0,-0.002,0.404,0,0.713,0.125,0.538,
              0.108,0.461,0.192,0.374,0.285,0.288,0.442,0.241
        car: *sidegaragemask

  sunroom:
    enabled: true
    detect: *doorbelldetect
    ffmpeg: {inputs:
      [{path: rtsp://localhost:8554/sunroom, roles: [record]}]}
    mqtt: *mqttheight
    ui: {order: 4}
    birdseye: {order: 4}
    review: {alerts: {required_zones: [on_property]}}
    onvif:
      host: sunroom.home.arpa
      port: 8000
      user: "{FRIGATE_CAMERA_USER}"
      password: "{FRIGATE_CAMERA_PASSWORD}"
      ignore_time_mismatch: true
      autotracking:
        enabled: False
        # calibrate_on_startup: True
        # Available options are: disabled, absolute, and relative
        zooming: relative
        # Optional: A value to change the behavior of zooming on autotracked objects. (default: shown below)
        # A lower value will keep more of the scene in view around a tracked object.
        # A higher value will zoom in more on a tracked object, but Frigate may lose tracking more quickly.
        # The value should be between 0.1 and 0.75
        zoom_factor: 0.3
        # track: [person, cat, dog]
        # required_zones:
          # - on_property
        # Required: Name of ONVIF preset in camera's firmware to return to when tracking is over. (default: shown below)
        # return_preset: home
        # Optional: Seconds to delay before returning to preset. (default: shown below)
        # timeout: 10
    zones:
      on_property:
        <<: *zonedefault
        objects: [person]
        coordinates: 0,1,1,1,1,0,0,0 # Full screen

  backdeck:
    enabled: true
    detect: *floodlightdetect
    ffmpeg: {inputs:
      [{path: rtsp://localhost:8554/backdeck, roles: *detectandrecord}]}
    mqtt: *mqttheight
    ui: {order: 3}
    birdseye: {order: 3}
    zones:
      on_property:
        <<: *zonedefault
        coordinates: >-
          0.459,0.183,0.725,0.192,0.974,0.594,0.915,
          0.819,0.777,0.629,0.743,0.655,0.663,0.402,
          0.62,0.362,0.53,0.391,0.532,0.622,0.622,
          0.991,0,1,0,0.373,0.165,0.212,0.38,
          0.054,0.409,0.659,0.466,0.611
        objects: [person, dog, cat]
    review:
      alerts:
        required_zones: [on_property]
    motion:
      mask:
        - >- # neighbors
          1,0.464,0.977,0.552,0.894,0.437,0.909,0.357,
          0.759,0.196,0.424,0.181,0.419,0,0.73,0,1,0
