---
apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageUpdateAutomation
metadata:
  name: flux-system-custom-resources
  namespace: flux-system
spec:
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    commit:
      author:
        name: fluxcdbot
        email: fluxcdbot@users.noreply.github.com
      messageTemplate: "{{range .Updated.Images}}{{println .}}{{end}}"
  interval: 2m0s
  update:
    path: ./custom-resources/spartacus
    strategy: Setters
